APP_URL=http://localhost:3333
NODE_ENV=development

# Auth
APP_SECRET=bootcampfastfeetnode

# Database

DB_HOST=localhost
DB_USER=postgres
DB_PASS=docker
DB_NAME=fastfeet

# Redis

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Mail

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_SECURE=false
MAIL_USER=33b6ca6b1a8878
MAIL_PASS=f795536b1ac1fa

# Sentry

SENTRY_DSN=https://e92fab6bf47e4d969f89e33df2c3a5bb@sentry.io/2351357
